#site {
    font-family: 'Titillium Web', sans-serif;
}

#header {
    background-color: #5297FF;
    text-align: center;
    font-size: 50px;
    width: 60%;
    margin-left: 20%;
}

h2 {
    background-color: #5297FF;
    text-align: center;
    font-size: 28px;
}

.right {
    float: right;
    margin-top: 3%;
    margin-right: 28%;
    font-size: 15px;
    text-decoration: none
}

img {
    margin-top: 2%;
    width: 15%;
    height: 5%;
    margin-left: 28%;
    border-radius: 50%;
}

#formacao  {
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
    font-size: 15px;
}

.esquerda {
    margin-top: 2%;
    width: 25%;
    margin-left: 20%;
    font-size: 15px;
}

#skills {
    width: 25%;
    float: right;
    margin-top: 1%;
    margin-right: 20%;
    font-size: 15px;
    text-decoration: none
}